.add-books{
    background-color: #051328;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 200vh;
}
.add-book{
    width: 282px;
    display: flex;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #050f1d;
    margin-bottom: 427px;
    padding: 10px;
    height: auto;
}
.add-book input{
    margin-top: 18px;
    width: 90%;
    border: none;
    border-bottom: 0.5px solid grey;
    background: transparent;
    padding: 9px;
    color: white;
}
.add-book select{
    margin-top: 18px;
    width: 90%;
    border: none;
    border-bottom: 0.5px solid grey;
    background: transparent;
    padding: 9px;
    color:grey;
}
.add-book textarea{
    margin-top: 18px;
    width: 90%;
    border: 1px solid grey;
    background: transparent;
    padding: 9px;
    color: white;
}
.add-book h1{
    font-size: 28px;
    margin-top: 13px;
}
.add-book button{
    padding:5px;
    background-color:#0f79af;
    width: 103px;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 14px;
}
