.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#030b17;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.login-wrapper{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius:10px;
    width: 332px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #050f1d;
    height: 291px;
    color: #fff;
}
.login-wrapper h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-wrapper input{
    color: #fff;
    padding: 10px;
    width: 83%;
    margin-top: 19px;
    font-size: 14px;
    border: none;
    border-bottom: 0.5px solid grey;
    outline: none;
    background-color: transparent;
}
.login-wrapper button{
    padding: 10px;
    width: 83%;
    border: none;
    border-radius: 3px;
    margin-top: 11px;
    background-color: #0f79af;
    color: white;
}
.login-wrapper button:hover{
    background-color: #0e72a5;
}
.login-wrapper a{
    font-size: 14px;
}
.error-message{
    color: red;
    font-size: 14px
}
::placeholder{
    color: #fff;
}
@media only screen and (max-width: 354px){
    .login-wrapper {
        width: 312px;
    }
}
@media only screen and (max-width: 354px){
    .login-wrapper {
        width: 282px;
    }
}
@media only screen and (max-width: 290px){
    .login-wrapper {
        width: 265px;
    }
}