.books-section{
    width: 100%;
    height: auto;
    background-color: #030b17;
    padding-top: 12px;
}
.books-wrapper{
    padding-left: 43px;
    display: flex;
    flex-wrap: wrap;
    transition: all .2s ease-out;
}

.book-card{
    width: 140px;
    margin-top: 57px;
    margin-left: 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-out;
}
/* .book-card:hover{
    transform: scale(1.1);
    transition: all .2s ease-out;
} */
