 .navbar{
    background-color: #05162f;
    color: #c4b9b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("../../images/hamburger.png");
  }
  .navbar-toggler .navbar-toggler {
    border: none;
  }
  .signinbutton{
    margin-left: 10px;
    background-color: #0f79af;
    color: rgba(242,244,246,.9);
    width: auto;
    height: 32px;
    border: none;
    padding:10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-out;
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
}
.signinbutton:hover{
    background-color: #09628f;
    color:rgba(242,244,246,.9);

}
@media only screen and (max-width: 988px) {
    .signinbutton{
        margin-left: 0px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 512px){
    .signinbutton{
        margin-bottom: 10px;
    }
}
.navbar input{
    background-color: transparent;
    border-radius: 1px;
    outline: none;
}
@media only screen and (max-width: 828px){
    .signinbutton{
        margin-bottom: 15px;
        margin-right: 12px;

    }
}

/*
.left{
    margin-left: 34px;
    font-family: 'Quicksand', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 63px;
}
.search-box input{
    padding: 8px;
    color: #fff;
    width: 239px;
    border: none;
    outline: none;
    background-color: transparent
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid white;
}
::placeholder{
    color: #c4b9b9;
}

.right button:hover{
    background-color: #095e8a;
    transition: all .2s ease-out;
} */